:root {
  accent-color: var(--theme-color);
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-body);
}

code {
  font-family: var(--font-family-mono);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

/* # Form */

input {
  border: none;
  font-size: var(--font-size-base);
  outline: none;
}

input::placeholder {
  font-style: italic;
}
