@import "./assets/style/root.css";
@import "./assets/style/fonts.css";

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-body);
}

code {
  font-family: var(--font-family-mono);
}

a {
  color: var(--color-link);
  text-decoration: none;
}
